.item {
  position: relative;
  width: calc(100vw / 6);
  height: 280px;
}

.image {
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  height: 80%;
  width: 80%;
  background-color: rgba(41, 40, 43, 0.5);
  transition: all ease-in 0.3s;
}

.item:hover .overlay {
  transform: scale(1.1);
  cursor: pointer;
}

.text {
  color: white;
  font-size: 20px;
}
